{% extends 'base.html' %}
<!--자식 템플릿에서 수정할 수 있는 부분-->
{% block content %}
    <main>
        <a href="/"><p class="head_img"></p></a>
        <h4>나를 성장시키는 메모</h4>
        <br>
        <form action="/add" method="post">
            <!-- <textarea name="task" rows="5" placeholder="Enter your task" id="task" required></textarea> -->
            <textarea name="task" rows="5" placeholder="Enter your task" id="task"></textarea>
            <button type="submit" id="add_task">
             Add
            </button>
        </form>
    
         <br>
    <h2>Tasks</h2>

    <div>
      {% if todos == 0 %}
        <br>
        <p> 입력한 TODO 메모가 없습니다. </p>
      {% else %}
        {% for todo in todos %}
        <div class="task">
            <form action="/toggle/{{ todo.id }}" method="post"

                style="display:inline;">

            <input type="checkbox"
                name="completed"
                onchange="this.form.submit()"
                {% if todo.completed %}checked{% endif %}>
            </form>
            
            {% if todo.completed %}
                ✅ <strike>{{ todo.task }}</strike>
            {% else %}
                ⏳{{ todo.task }}
            {% endif %}
            <small>
                <a href="/edit/{{ todo.id }}">✏️Edit</a>
                
                <form action="/delete/{{ todo.id }}"
                    method="post"
                    style="display:inline;">
                 
                 <button type="submit">🗑️Delete</button>
                </form>
            </small>
        </div>
        {% endfor %}
      {% endif %}
    </div>
    </main>
{% endblock content%}